In [1]:
import requests
import pandas as pd
import time
from tqdm import tqdm

# Load corrected FLORES devtest data

In [2]:
corrected_data = pd.read_csv("Corrected_FLORES_devtest.csv")
corrected_data

,#Sent.,English,Tamazight (original),Tamazight (Corrected),Notes
0,1,"""We now have 4-month-old mice that are non-dia...",“ⵏⵍⴰ ⴷⵖⵉ ⵉⵖⵔⴷⴰⵢⵏ ⵏ 4 ⵏ ⵉⵢⵢⵉⵔⵏ ⴷ ⵓⵔ ⵉⵍⵍⵉ ⵡⴰⵟⵟⴰⵏ...,“ⵏⵍⴰ ⴷⵖⵉ ⵉⵖⵔⴷⴰⵢⵏ ⵏ 4 ⵡⴰⵢⵢⵓⵔⵏ ⵓⵔ ⵓⴹⵉⵏⵏ ⵙ ⵜⵎⴰⴹⵓⵏ...,NaN
1,2,"Dr. Ehud Ur, professor of medicine at Dalhousi...","ⴰⴷⵓⴽⵜⵓⵔ ⵉⵀⵓⵔ ⵓⵔ, ⴰⵙⵍⵎⴰⴷ ⵏ ⵜⴰⵙⵏⵓⵊⵢⴰ ⴳ ⵜⵙⴷⴰⵡⵉⵜ ⵏ...","ⵉⵏⵏⴰ ⵓⴷⵓⴽⵜⵓⵔ ⵉⵀⵓⴷ ⵓⵔ, ⴰⵙⵍⵎⴰⴷ ⵏ ⵜⵙⵏⵉⵊⵊⵉⵜ ⴳ ⵜⵙⴷⴰ...",NaN
2,3,"Like some other experts, he is skeptical about...","ⴰⵎⵎ ⴽⵔ ⵏ ⵡⵉⵢⵢⴰⴹ ⵉⵎⵓⵣⴰⵢⵏ, ⵉⴳⴰ ⴰⵎⵛⴽⴰⴽ ⴳ ⵓⵢⵏⵏⴰ ⵉⵇ...","ⴰⵎⵎ ⴽⵔⴰ ⵏ ⵉⵎⵓⵣⴰⵢⵏ ⵢⴰⴹⵏⵉⵏ, ⵉⴳⴰ ⴰⵎⵛⴽⴰⴽ ⴳ ⵓⵢⵏⵏⴰ ⵉ...",NaN
3,4,"On Monday, Sara Danius, permanent secretary of...","ⴳ ⵓⵢⵏⴰⵙ, ⵜⵏⵏⴰ ⵚⴰⵕⴰ ⴷⴰⵏⵢⵓⵙ, ⵜⴰⵏⴼⵍⵓⵙⵜ ⵜⴰⵎⵖⵍⴰⵍⵜ ⵏ...","ⴳ ⵓⵢⵏⴰⵙ, ⵜⵏⵏⴰ ⵚⴰⵕⴰ ⴷⴰⵏⵢⵓⵙ, ⵜⴰⵏⴼⵍⵓⵙⵜ ⵜⴰⵎⵖⵍⴰⵍⵜ ⵏ...",NaN
4,5,"Danius said, ""Right now we are doing nothing. ...","ⵜⵏⵏⴰ ⴷⴰⵏⵢⵓⵙ, “ⴷⵖⵉ ⵓⵔ ⴷⴰ ⵏⵙⵙⴽⴰⵔ ⴰⵎⵢⴰ. ⵖⵔⵉⵖ ⴰⵙ ⴰ...","ⵜⵏⵏⴰ ⴷⴰⵏⵢⵓⵙ, “ⴷⵖⵉ ⵓⵔ ⴷⴰ ⵏⵙⴽⴰⵔ ⴰⵎⵢⴰ. ⵖⵔⵉⵖ ⴰⵙ ⴰⵣ...",NaN
...,...,...,...,...,...
1007,1008,"As the areas are sparsely populated, and light...","ⵍⵍⵉⴳ ⴷⵔⵓⵙⵏ ⵉⵎⵣⴷⴰⵖⵏ ⴳ ⵜⵎⵏⴰⴹⵜ, ⴷ ⵡⵓⵍⵓⴼ ⵉⴷⵔⵓⵙⵏ ⵛⵉ...","ⵍⵍⵉⴳ ⴷⵔⵓⵙⵏ ⵉⵎⵣⴷⴰⵖⵏ ⴳ ⵜⵎⵏⴰⴹⵜ, ⴷ ⵡⵓⵍⵓⴼ ⵉⴷⵔⵓⵙⵏ ⵛⵉ...",NaN
1008,1009,Japanese work culture is more hierarchical and...,ⵜⴳⴰ ⵜⴰⴷⵍⵙⴰ ⵏ ⵜⵡⵓⵔⵉ ⵜⴰⵢⴰⴱⴰⵏⵉⵢⵜ ⴷ ⵜⴰⵎⵓⵣⴳⴰⵏⵜ ⵓⴳⴳⴰ...,ⵜⴳⴰ ⵜⴰⴷⵍⵙⴰ ⵏ ⵜⵡⵓⵔⵉ ⵜⴰⵢⴰⴱⴰⵏⵉⵢⵜ ⴷ ⵜⴰⵎⵓⵣⴳⴰⵏⵜ ⴷ ⵜⵓ...,NaN
1009,1010,"Suits are standard business attire, and cowork...","ⴳⴰⵏ ⵉⴽⵓⵙⵜⵉⵎⵏ ⵜⵉⵎⵍⵙⴰ ⵜⵓⵏⵚⵉⴱⵉⵏ ⵏ ⵉⴷ ⴱⴰⴱ ⵏⵜⵡⵓⵔⵉ, ...","ⴳⴰⵏ ⵉⴽⵓⵙⵜⵉⵎⵏ ⵜⵉⵎⵍⵙⴰ ⵜⵓⵏⵚⵉⴱⵉⵏ ⵏ ⵉⴷ ⴱⴰⴱ ⵏⵜⵡⵓⵔⵉ, ...",NaN
1010,1011,"Workplace harmony is crucial, emphasizing grou...","ⵜⵙⵜⴰⵡⵀⵎⵎⴰ ⵜⵎⵙⴰⵙⵉⵜ ⵛⵉⴳⴰⵏ ⴳ ⵡⴰⵏⵙ ⵏ ⵜⵡⵓⵔⵉ, ⴰⵔ ⴷ ⵉ...","ⵜⵅⴰⵜⵔ ⴽⵉⴳⴰⵏ ⵜⵎⵙⴰⵙⵉⵜ ⴳ ⵡⴰⵏⵙⴰ ⵏ ⵜⵡⵓⵔⵉ, ⵙ ⵓⵙⵎⵙⵙⵉ ...",NaN
1011,1012,Workers must often get their superiors' approv...,ⵉⴳⴳⵓⵜ ⵎⴰⴳ ⴷ ⵉⵇⵇⴰⵏ ⴰⴷ ⵢⵉⵍⵉ ⵓⵎⵙⴰⵙⴰ ⵏ ⵉⵏⵙⵙⵉⵅⴼⵏ ⵏ ...,ⵉⴳⴳⵓⵜ ⵎⴰ ⴳ ⴷ ⵉⵇⵇⴰⵏ ⴰⴷ ⵢⵉⵍⵉ ⵓⵎⵙⴰⵙⴰ ⵏ ⵉⵏⵙⵙⵉⵅⴼⵏ ⵏ...,NaN

In [3]:
# convert the corrected data to a dictionary
data = corrected_data[['English', 'Tamazight (Corrected)']].to_dict('list')
# rename the columns
data = {'en': data['English'], 'ber': data['Tamazight (Corrected)']}

In [4]:
def translate(sl, tl, s):
	return requests.get(f"https://translate.googleapis.com/translate_a/single?client=gtx&dt=t&sl={sl}&tl={tl}&q={s}").json()[0][0][0]

def get_translations(data, sl, tl, save_to_txt=True):
    translations = data.copy()
    translations['Translation'] = []
    source_texts = data[sl]
    filename = f"gt_{sl}_to_{tl}.txt"

    for source_text in tqdm(source_texts):
        try:
            translation = translate(sl, tl, source_text)
        except Exception as e:
            print(f"Error: {e}")
            translation = None

        translations['Translation'].append(translation)

        if save_to_txt:
            with open(filename, 'a') as f:
                if translation:
                    f.write(translation + '\n')
                else:
                    f.write("\n")

        time.sleep(1)

    translations = pd.DataFrame(translations)
    # replace "sl" with "Source" and "tl" with "Target" in the column names
    translations = translations.rename(columns={sl: 'Source', tl: 'Target'})
    # reorder the columns to have "Source", "Target", and "Translation" as the first three columns
    translations = translations[['Source', 'Target', 'Translation']]

    return translations

In [5]:
en_to_ber = get_translations(data, 'en', 'ber')
en_to_ber

100%|██████████| 1012/1012 [39:16<00:00,  2.33s/it]

,Source,Target,Translation
0,"""We now have 4-month-old mice that are non-dia...",“ⵏⵍⴰ ⴷⵖⵉ ⵉⵖⵔⴷⴰⵢⵏ ⵏ 4 ⵡⴰⵢⵢⵓⵔⵏ ⵓⵔ ⵓⴹⵉⵏⵏ ⵙ ⵜⵎⴰⴹⵓⵏ...,« ⵏⴻⵙⵄⴰ ⵜⵓⵔⴰ ⵉⵖⴻⵔⵙⵉⵡⴻⵏ ⵏ 4 ⵏ ⵡⴰⵢⵢⵓⵔⴻⵏ ⵓⵔ ⵏⴻⵙⵄⵉ...
1,"Dr. Ehud Ur, professor of medicine at Dalhousi...","ⵉⵏⵏⴰ ⵓⴷⵓⴽⵜⵓⵔ ⵉⵀⵓⴷ ⵓⵔ, ⴰⵙⵍⵎⴰⴷ ⵏ ⵜⵙⵏⵉⵊⵊⵉⵜ ⴳ ⵜⵙⴷⴰ...","ⴷⵔ. Ehud Ur, ⴷ ⴰⵙⴻⵍⵎⴰⴷ ⵏ ⵜⴻⵙⵏⴰⵊⵢⴰ ⴷⴻⴳ ⵜⴻⵙⴷⴰⵡⵉⵜ..."
2,"Like some other experts, he is skeptical about...","ⴰⵎⵎ ⴽⵔⴰ ⵏ ⵉⵎⵓⵣⴰⵢⵏ ⵢⴰⴹⵏⵉⵏ, ⵉⴳⴰ ⴰⵎⵛⴽⴰⴽ ⴳ ⵓⵢⵏⵏⴰ ⵉ...","ⴰⵎ ⴽⵔⴰ ⵏ ⵢⵉⵎⴰⵣⵣⴰⵢⴻⵏ ⵏⵉⴹⴻⵏ, ⵢⴻⵜⵜⵛⵓⴽⴽⵓ ⵎⴰ ⵢⴻⵍⵍⴰ ..."
3,"On Monday, Sara Danius, permanent secretary of...","ⴳ ⵓⵢⵏⴰⵙ, ⵜⵏⵏⴰ ⵚⴰⵕⴰ ⴷⴰⵏⵢⵓⵙ, ⵜⴰⵏⴼⵍⵓⵙⵜ ⵜⴰⵎⵖⵍⴰⵍⵜ ⵏ...","ⴰⵙⵙ ⵏ ⵍⵃⴻⴷⴷ, Sara Danius, ⵜⴰⵎⴰⵔⴰⵢⵜ ⵏ ⵍⴻⴱⴷⴰ ⵏ U..."
4,"Danius said, ""Right now we are doing nothing. ...","ⵜⵏⵏⴰ ⴷⴰⵏⵢⵓⵙ, “ⴷⵖⵉ ⵓⵔ ⴷⴰ ⵏⵙⴽⴰⵔ ⴰⵎⵢⴰ. ⵖⵔⵉⵖ ⴰⵙ ⴰⵣ...","ⴷⴰⵏⵉⵓⵙ ⵢⴻⵏⵏⴰⴷ: ""ⵉⵎⵉⵔⴰ ⵓⵔ ⵏⴻⵅⴷⵉⵎ ⴰⵛⴻⵎⵎⴰ. ⵙⵙⴰⵡⵍⴻ..."
...,...,...,...
1007,"As the areas are sparsely populated, and light...","ⵍⵍⵉⴳ ⴷⵔⵓⵙⵏ ⵉⵎⵣⴷⴰⵖⵏ ⴳ ⵜⵎⵏⴰⴹⵜ, ⴷ ⵡⵓⵍⵓⴼ ⵉⴷⵔⵓⵙⵏ ⵛⵉ...",ⵉⵎⵉ ⵜⵉⵎⵏⴰⴹⵉⵏⵏⵏⵉ ⵓⵔ ⵍⵍⵉⵏⵜ ⴰⵔⴰ ⴰⵟⴰⵙ ⵏ ⵢⵉⵎⴻⵣⴷⴰⵖⴻⵏ...
1008,Japanese work culture is more hierarchical and...,ⵜⴳⴰ ⵜⴰⴷⵍⵙⴰ ⵏ ⵜⵡⵓⵔⵉ ⵜⴰⵢⴰⴱⴰⵏⵉⵢⵜ ⴷ ⵜⴰⵎⵓⵣⴳⴰⵏⵜ ⴷ ⵜⵓ...,ⵉⴷⵍⴻⵙ ⵏ ⵓⵅⴻⴷⴷⵉⵎ ajapuni ⴷ ⵡⵉⵏ ⴰⵢ ⴷⵢⴻⵍⵍⴰⵏ ⵙ ⵜⵎⴻ...
1009,"Suits are standard business attire, and cowork...","ⴳⴰⵏ ⵉⴽⵓⵙⵜⵉⵎⵏ ⵜⵉⵎⵍⵙⴰ ⵜⵓⵏⵚⵉⴱⵉⵏ ⵏ ⵉⴷ ⴱⴰⴱ ⵏⵜⵡⵓⵔⵉ, ...","ⵜⵉⵙⵓⴷⴰ ⴷ ⵍⵇⴻⵛⵛ ⵏ ⵍⵅⴻⴷⵎⴰ ⵏ ⵍⵇⴰⵏⵓⵏ, ⵢⴻⵔⵏⴰ ⵉⵎⴷⵓⴽⴰ..."
1010,"Workplace harmony is crucial, emphasizing grou...","ⵜⵅⴰⵜⵔ ⴽⵉⴳⴰⵏ ⵜⵎⵙⴰⵙⵉⵜ ⴳ ⵡⴰⵏⵙⴰ ⵏ ⵜⵡⵓⵔⵉ, ⵙ ⵓⵙⵎⵙⵙⵉ ...",ⴰⵎⵙⴰⵙⵉ ⴷⴻⴳ ⵡⴻⵎⴽⴰⵏ ⵏ ⵓⵅⴻⴷⴷⵉⵎ ⴷ ⴰⵢⴻⵏ ⵢⴻⵙⵄⴰⵏ ⴰⵣⴰⵍ...
1011,Workers must often get their superiors' approv...,ⵉⴳⴳⵓⵜ ⵎⴰ ⴳ ⴷ ⵉⵇⵇⴰⵏ ⴰⴷ ⵢⵉⵍⵉ ⵓⵎⵙⴰⵙⴰ ⵏ ⵉⵏⵙⵙⵉⵅⴼⵏ ⵏ...,ⵉⵅⴻⴷⴷⴰⵎⴻⵏ ⵢⴻⵙⵙⴻⴼⴽ ⴰⴷ ⵙⵄⵓⵏ ⵙ ⵡⴰⵟⴰⵙ ⵍⵇⴻⴷⴷ ⵏ ⵢⴻⵎⴹ...